{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "globals": {
  },
  "rules": {
    "comma-dangle": 0,
    "semi": 0,
    "no-use-before-define": 0,
    "no-underscore-dangle": 0
  }
}
